<!DOCTYPE html>
<html ng-app="sampleApp">
<head></head>
<body>
<div ui-view></div>

<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/angular-1.5.8.min.js"></script>
<script src="js/vendor/angular-uirouter.js"></script>
<script src="js/vendor/bootstrap.js"></script>
<script src="js/bhwconfig.js"></script>
<script src="js/behaviosense.js"></script>
<script src="js/behaviosense-angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>